body {
   font-family: Arial, sans-serif;
   background-color: #f8f9fa;
   margin: 0;
   padding: 20px;
}

.container {
   width: 80%;
   margin: auto;
   background: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.create-btn {
   background-color: #28a745;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
}

.create-btn:hover {
   background-color: #218838;
}

table {
   width: 100%;
   border-collapse: collapse;
   margin-top: 20px;
}

thead {
   background-color: #f1f1f1;
}

th,
td {
   border: 1px solid #ddd;
   padding: 10px;
   text-align: left;
}

th {
   font-weight: bold;
}

.edit-btn {
   background-color: #007bff;
   color: white;
   border: none;
   padding: 5px 10px;
   margin-right: 5px;
   cursor: pointer;
   border-radius: 4px;
}

.edit-btn:hover {
   background-color: #0056b3;
}

.delete-btn {
   background-color: #dc3545;
   color: white;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 4px;
}

.delete-btn:hover {
   background-color: #c82333;
}


/* Modalni yashirib turish */
.modal {
   display: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Modal tarkibi */
.modal-content {
   background: white;
   padding: 20px;
   border-radius: 8px;
   width: 300px;
   text-align: center;
   position: relative;
}

.close {
   position: absolute;
   top: 10px;
   right: 15px;
   font-size: 20px;
   cursor: pointer;
}

.modal-content input,
.modal-content textarea {
   width: 100%;
   margin: 10px 0;
   padding: 8px;
   border: 1px solid #ddd;
   border-radius: 5px;
}

.modal-content button {
   background-color: #28a745;
   color: white;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.modal-content button:hover {
   background-color: #218838;
}

textarea {
   resize: none;
}
